.title-input {
	height: 1.4rem;
	width: 97%;
	margin: 0.2rem;
	font-size: 18px;
	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
	border: none;
	text-overflow: ellipsis;
	cursor: default;
}

input:focus {
	outline: none;
	cursor: text;
}
