.notes-list {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
}

.note {
	height: 18.75rem;
	width: 18.75rem;
	border: 0.2rem solid;
	box-shadow: rgba(0, 0, 0, 0.4) 5px 5px, rgba(0, 0, 0, 0.3) 10px 10px;
	background-color: rgba(255, 255, 255, 0.959);
	padding: 0.2rem;
	margin: 0.4rem;
	position: relative;
	font-size: 14px;
	display: flex;
	flex-direction: column;
	justify-content: center;

	transition: scale 0.3s, color 0.3s, box-shadow 0.3s;
}

.title-input {
	height: 1.4rem;
	width: 97%;
	margin: 0.2rem;
	font-size: 18px;
	font-family: "Trebuchet MS", Arial, sans-serif;
	border: none;
	text-overflow: ellipsis;
	cursor: default;
}

.animate {
	scale: 102%;
	color: rgba(0, 0, 0, 0.269);
	box-shadow: rgba(0, 0, 0, 0.4) 12px 12px, rgba(0, 0, 0, 0.3) 16px 16px;
}

.note-content {
	height: 90%;
	width: 96%;
	margin: 0 auto;
	font-size: 15px;
	font-family: "Trebuchet MS", Arial, sans-serif;
	font-weight: 100;
	overflow: hidden;
	resize: none;
	border: none;
	cursor: default;
	border-radius: 1%;
}

.note-content-editable {
	background-color: rgba(205, 205, 205, 0.4);
	cursor: text;
}

input:focus {
	outline: none;
	cursor: text;
}

textarea:focus {
	outline: none;
}

.edit-btn {
	position: absolute;
	bottom: 0.2rem;
	right: 0.2rem;
	background-color: rgba(255, 255, 255, 0);
	border: none;
	margin: 0.2rem;
}

.del-btn {
	position: absolute;
	bottom: 0.2rem;
	left: 0.2rem;
	background-color: rgba(255, 255, 255, 0);
	border: none;
	margin: 0.2rem;
}
